@import 'tailwindcss';

:root {
  --color-cream: #faf3e1;
  --color-beige: #f5e7c6;
  --color-orange: #fa8112;
  --color-dark: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-dark);
  background-color: var(--color-cream);
}

.box {
  background-color: transparent;
  color: var(--color-orange);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
